.column, .contact-info{
    color: #14396d;
}
.services-white{
    overflow: hidden;
    display: grid;
    padding: 5% 11%;
    background-color:white ;
    grid-template-columns: 1fr 1fr;
    column-gap: 3%;
}
.services-white .map{
    height: 100%;
    grid-column: 1/3;
    width: 100%;
}
.services-white>*{
    text-align: left;
}
form.column{
    justify-items: stretch;
}
.services-white p{
    align-items: center;
    margin: 2%;
    font-size: 0.9rem;
}
.services-white p:first-child{
    font-weight: bolder;
    color: #00baec;
}
.services-white svg{
    color: #00baec;
    margin: auto 2% auto auto ; 
    vertical-align: middle;
    display: inline-block;
}
form.column textarea{
    width: 94%;
    height: 30%;
    padding: 3% 2.5% 3% 3%;
}
form.column input+input {
   float: right;
}
form.column input{
    width: 42%;  
    margin: 2% auto;
    display: inline-block;
}
form.column button{ 
    float: left;
    margin: 1% 0; 
    display: block;
}
.map+svg{
    position: absolute;
    font-size: 4rem;
    margin: 19% 37%;
    color: #fedb41;
}