#homepage-first-title{
    /* display: grid;  
    grid-template-columns: 1fr 7fr 1fr; */
    /* grid-template-rows: repeat(5, auto); */
    /* grid-auto-rows: minmax(min-content, max-content); */
    color: white;
    padding: 8% 11%;
    font-weight: bolder;
    background-size: cover;
}
#homepage-first-title > *{ 
    margin: 0;
}
#homepage-first-title img{
    height: 8vh;
    margin: 0;  
}
#homepage-first-title p{
    font-size: calc(10% + 2vw ) ;
    font-weight: normal;
}
#homepage-first-title h1{
    font-size: calc(100% + 3vw );
}
.services.customers{
    background-color: rgba(0, 186, 236,0.1);
    padding: 5% 11%;
    text-align: center;
    overflow: hidden;
    background-color: white;
    display: grid;
    column-gap: 5%;
    grid-template-columns: 1fr 1fr;
}
.services.customers>*:first-child{
    grid-column: 1/3;
}
.carousel>img{
    grid-column: 1;
    width: 100%;
}
.services.customers.column{
    grid-column: 2;
}
.functional-image{
    width: 5vh;
}
.service-cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 5%;
    row-gap: 5%; 
}
.img-container{
    grid-area: img;
}
.img-container, .img-container>img{
    border-radius: 0 3vw 0 3vw;
}
.img-container>img{
    width: 80%;
    background-color: #b3b3b3;
}
.about-us{
    background-color:white; 
    display: grid;
    text-align: left;
    grid-template-columns: 5fr 1fr 1fr 1fr 1fr;
    grid-auto-rows: minmax(4, auto);
    gap: 3%;
    grid-template-areas: "img title title title title" "img text text text text" "img tiles tiles tiles tiles" "img button button button button";
}
.about-us>.small-title{
    text-align: left;
}
 .about-us.content{ 
    display: grid;
    padding-left: 15%;
    text-align: left;
    /* grid-area: content;
    grid-template-rows: repeat(4,auto);  */
    /* column-gap: 3%;
    row-gap: 3%; */
}
.about-us>.data-tiles{
    grid-area: tiles;display: inline-flex;
}
.about-us .content>*{
    display: block;
}
.about-us>button{
    grid-area: button;
    width: 30%;

}
.about-us.small-title{
    grid-area: title;
}
.about-us>p {
    grid-area: text;
    margin-top: 0px;
}

.features{
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, auto);
    grid-template-areas:"title title" "tiles img";
}
 .features .small-title{
    grid-area: title;
}
 .features .img-container{
    grid-area: img;
}
 .features .tiles{
    grid-area: tiles;
    display: grid;
    gap: 0%;
    grid-template-columns: repeat(2,auto);
}
.features .tiles>*:hover{
    box-shadow: -2vh  3vh 6vh  0.5vh #b3b3b3;
    z-index: 3; 
    border:none;
}
.features .tiles>*:first-child{
    border-radius: 3vw 0 0 0;
    border-right: 2px dashed #b3b3b3;
    border-bottom: 2px dashed #b3b3b3;
}
.features .tiles>*:nth-child(2){ 
    border-radius: 0 3vw 0 0;
    border-bottom: 2px dashed #b3b3b3;
}
.features .tiles>*:nth-child(3){ 
    border-radius: 0  0  0 3vw; 
    border-right: 2px dashed #b3b3b3;
}
.features .tiles>*:nth-child(4){ 
    border-radius: 0  0 3vw 0 ; 
}
 .features .tiles>*>*{ 
    font-size: calc(5px+1vw);
    margin: 1%;  
    text-align:center;
}  
.services.team{ 
    display: grid;
    grid-template-rows: repeat(2,auto); 
}
.services.team .small-title{
    grid-row: 1;
    grid-column: 1/5;
} 
.services.team .profile-card{
    grid-row: 2;
    margin: 3%;
} 
.services.appointment{
    display: grid;
    padding: 8% 0;
    
    overflow: hidden;
    grid-template-columns: repeat(2,50vw);
}
.services.appointment.small-title, .services.appointment form{
    grid-column: 1;
}
.appointment .img-container{
    grid-column: 2;
    max-width: 50vw;
    grid-row: 1/3;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}
.img-container img{
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%
}
.services.appointment form{
    padding: 7%;
    background-color: white;
    border-left: 4px solid #00baec;
    color: #14396d;
    display: block;
}
.appointment form button{
    width: 100%;
    margin: 3% 3%;
}
.input-container{ 
    display: flex;
    justify-content: center;
} 
.appointment input{
    float: left;  
}
.appointment .wrapper{
    background: linear-gradient(180deg, #14396d 70%, white 30%);
    grid-row: 1/3; 
    padding: 25% 0 0 25%;
}
.appointment .small-title{
    text-align: left; color: white;
}
.appointment .small-title h3{
    text-align: left; color: white;
}
.appointment .small-title p{
    text-align: left; color: white;
}
.appointment label{
     width: 10%;
     float: right;  
}
.appointment input,.appointment label {
   
     padding:   3%;
 display: inline-flex;
    background-color: rgba(0, 186, 236, 0.05);
    margin: 2% 0px  ;
    border: 0px;
}