
footer {
    background-color: #14396d;
    color: #fff;
   
    display: grid;
  }
  
  footer .grid-container {
    /* display: grid */
  }
  
  a,a:visited {
    text-decoration: none
  }
  
  footer a,footer a:visited {
    color: #fff;
    text-decoration: none
  }
  
  footer span {
    text-align: left
  }
  
  .footer-row,.footer-row.bottom .copyright {
    column-gap: 2.5vw;
    grid-template-columns: 15.6vw 9.6vw 7.3vw 16.6vw;
    display: grid
  }
  
  .footer-row {
    text-align: left;
    padding: 1% 11%;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
  }
  
  .footer-row.top {
    margin: 5% auto 3%;
    padding: 5% 11% 0 11%;
  }
  
  .footer-row.bottom {
    justify-content: center;
    background: rgba(14,24,43,.1)
  }
  
  .footer-row.bottom .copyright {
    margin: 2% auto
  }
  
  .footer-row.bottom span:first-child {
    grid-column: 1
  }
  
  .footer-row.bottom span:last-child {
    grid-column: 4;
    text-align: right
  }
  
  .footer-column {
    justify-items: left;
  }
  .footer-column>*{
    margin: 3% 3% 3% 0;
    display: inline-flex;
  }
  .footer-column>h3{
    margin: 1rem 1rem 1rem 0;
    justify-content: center;
    display: block;
  }
  .footer-column >a{
      width: 100%;
      display: block;
  }
  #newsletter-button {
    background-color: #00baec
  }
  
  .media-links span{
      background-color: white;
      color: #00baec;
      width:2vw;
      text-align: center;
      height: 2vw;
      margin: 0.3rem;
      padding: 0.2rem;
      border-radius: 50%;
  }
  .media-links span>*{ 
      height: 90%; 
  }
  .footer-first{
    background-color: #dff8ff;
    color: #14396d;
  }
  .footer-first .footer-column> a{
    color: #14396d;
  }
  .footer-first .footer-row.top{ 
      padding: 3% 11%;
    grid-template-columns: 2fr 1fr 1fr 2fr;
    margin: 0;
} 
  .ad-container{ 
  }
  .news-card{
      display: grid;
      grid-template-columns: 1fr 2fr;
      padding: 3%;
      gap: 3%;
  }
  .news-card img{
    grid-row: 1/3;
    grid-column: 1;
    width: 100%;
    height: 100%;
} 
.news-card p{
    grid-row: 1;
    display: contents;
    width: 100%;
}

.news-card span{
    display: block;
    width: 100%;
} 