:root {
  box-sizing: border-box
}

::after,::before {
  box-sizing: inherit
}

.App {
  display: grid;
  font-size: smaller;
  font-family: Roboto
}

.App>* {
  color: #14396d
}

footer {
  background-color: #14396d;
  color: #fff;
  display: grid
}

a,a:visited {
  text-decoration: none
}

footer a,footer a:visited {
  color: #fff;
  text-decoration: none
}

footer span {
  text-align: left
}

.footer-row,.footer-row.bottom .copyright {
  column-gap: 2.5vw;
  grid-template-columns: 15.6vw 9.6vw 7.3vw 16.6vw;
  display: grid
}

.footer-row {
  text-align: center;
  padding: 3% auto
}

.footer-row.top {
  margin: 5% auto 3%
}

.footer-row.bottom {
  justify-content: center;
  background: rgba(14,24,43,.1)
}

.footer-row.bottom .copyright {
  margin: 2% auto
}

.footer-row.bottom span:first-child {
  grid-column: 1
}

.footer-row.bottom span:last-child {
  grid-column: 4;
  text-align: right
}

.footer-column {
  justify-items: left
}

.footer-column>* {
  margin: 1%;
  display: inline-flex
}

.footer-column>h3 {
  margin: 1rem;
  justify-content: center
}

#newsletter-button {
  background-color: #00baec
}

.page-title {
  background-color: #14396d;
  display: grid;
  grid-template-rows: 4fr 1fr;
  grid-template-columns: 1fr 1fr 2fr 2fr 1fr 1fr;
  grid-template-areas: ". .title title . ." ". . title title nav .";
  text-align: center
}

.page-title h1 {
  color: #fff;
  grid-area: title;
  align-self: center;
  font-size: x-large
}

.page-title,.page-title a,.page-title a:visited {
  color: #14396d
}

.navigation-block {
  border-radius: 3px;
  z-index: 2;
  grid-area: nav;
  background-color: #fff
}

input,select,textarea {
  border: 1px solid #dfdfdf;
  border-radius: 3px;
  outline: 0;
  padding: 3%;
  display: inline-flex
}

.services {
  padding: 5% 11%
}